
.jumbotron{
    color:#1890ff;
}
#cartNumber{
    margin-left:5px;
    background-color: #1890ff;
    border-radius:20%;
    padding:4px;
    color:white;
}

.product-image{
    width:20%;
    padding-right:2rem;
}

.cijena{
    padding-left:5%;
    width:10%;
    
}
.header{
    border-bottom: 4px solid #1890ff;
}
.itemInfo{
    margin-left:15%;
    width:61%;

}
.delete{
    margin-right:5%;
}
.suma{
    margin-left:73%;
    
}
.card:hover{
    transform:scale(1.02);
    transition-duration:0.2;
  
}
.card-img, .card-img-top{
    border-bottom-left-radius:10% ;
    border-bottom-right-radius: 10%;
}
  
.card:hover .card-img-top{
    transition-duration: 0.2s;
    border-bottom-left-radius:0% ;
    border-bottom-right-radius: 0%;
}